{% extends "base.html" %}

{% block content %}

<h1>Registered</h1><hr>
<form action="" method="post" name="register">
    {{form.hidden_tag()}}
    <p>
        Nickname: <br>
        {{form.nickname(class="form-control")}}<br>
        {% for error in form.nickname.errors %}
            <span style="color: red;">{{error}}</span>
        {% endfor %}<br>
        Email: <br>
        {{form.email(class="form-control")}}<br>
        {% for error in form.email.errors %}
            <span style="color: red;">[{{error}}]</span>
        {% endfor %}<br>
        Password: <br>
        {{form.password(class="form-control")}}<br>
        {% for error in form.password.errors %}
            <span style="color: red;">{{error}}</span>
        {% endfor %}<br>
        Confirm Password<br>
        {{form.password2(class="form-control")}}<br>
        {% for error in form.password2.errors %}
            <span style="color: red;">{{error}}</span>
        {% endfor %}<br>
    </p>
    <p><input type="submit" class="btn btn-default" value="Sign Up"></p>
    <p>
      have an account?<a href="{{ url_for('auth.login') }}">Log in</a> Instead
    </p>
</form>
{% endblock %}