<!DOCTYPE html>
<html>
  <head>
      {% if title %}
      <title>{{ title }} -blog</title>
      {% else %}
      <title>blog</title>
      {% endif %}
	  {% block styles %}
      <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
	  <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
      <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
      <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
      <meta charset="UTF-8">
	  {% endblock %}
  </head>
  <body>
<div class="container-fluid">
<div class="row">
	<div class="col-md-12">
		<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="navbar-header">

					

				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					 <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
				</button> <a class="navbar-brand" href="{{ url_for('main.index') }}"><font color="#d2691e"> Home</font></a>
			</div>

			<!-- <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"> -->
				<ul class="nav navbar-nav">
					<li><a></a></li><li><a></a></li><li><a></a></li><li><a></a></li><li><a></a></li>
					<li>
						<a href="{{ url_for('main.index') }}"><span class="glyphicon glyphicon-home"></span> Home</a>
					</li>
					<li>
						{% if current_user.is_authenticated %}
						<a href="{{ url_for('main.follows',nickname=current_user.nickname) }}">user</a>
						{% else %}
						<a href="{{ url_for('auth.register') }}">Register</a>
						{% endif %}
					</li>
					{% if current_user.is_authenticated %}
					<li>
						<a href="{{ url_for('message.comment_message') }}">Message</a>
					</li>
					{% endif %}
				</ul>
				<form class="navbar-form navbar-left" method="post" action="{{url_for('main.search')}}" role="search">
					{{ g.search_form.hidden_tag() }}
					<div class="form-group">
						{{g.search_form.search(class="form-control")}}
					</div>
					<button type="submit" class="btn btn-default">
						search for 
					</button>
				</form>
				<ul class="nav navbar-nav navbar-right">
					<li>
						<a href="{% if current_user.is_authenticated %}{{ url_for('main.write') }}{% else %}{{ url_for('auth.login') }}{% endif %}">
						  <span class="glyphicon glyphicon-pencil"></span> Write a post
						</a>
					</li>
					{% if current_user.is_authenticated %}
					<li class="dropdown">
						 <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="{{ current_user.gravatar(size=20) }}"> <strong class="caret"></strong></a>
						<ul class="dropdown-menu">
							<li>
								<a href="{{ url_for('main.users', nickname=current_user.nickname) }}"><span class="glyphicon glyphicon-user"></span>user</a>
							</li>
							<li>
								<a href="{{ url_for('auth.change_password') }}"><span class="glyphicon glyphicon-refresh"></span> Change password</a>
							</li>
							<li class="divider">
							</li>
							<li>
								<a href="{{ url_for('auth.logout') }}"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
							</li>
						</ul>
					</li>
					{% else %}
					<li>
						<a href="{{ url_for('auth.login') }}"><span class="glyphicon glyphicon-log-in"></span> Login</a>
					</li>
					{% endif %}
					<li><a></a></li><li><a></a></li><li><a></a></li><li><a></a></li>
				</ul>
			</div>
		</nav>
	
	</div>
</div>


	<br><br>
<div class="row clearfix">
	<div class="col-md-2 column">
	</div>
	<div class="col-md-8 column">
		<br>
		{% with messages = get_flashed_messages() %}
		{% if messages %}
		{% for message in messages %}
		<div id="myAlert" class="alert alert-success">
			<a href="#" class="close" data-dismiss="alert">&times;</a>
			<strong>{{ message }}</strong>
		</div>
		{% endfor %}
		{% endif %}
		{% endwith %}
		<div class="main" class="col-md-6">
			{% block content %}
			
			{% endblock %}
			<!-- <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br> -->
			<div class="card text-white bg-dark mb-3" style="max-width: 80rem;">
				<div class="card-header">Lorem Ipsum </div>
				<div class="card-body">
					<h5 class="card-title">title</h5>
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				</div>
			</div>
			
			<div class="card text-white bg-dark mb-3" style="max-width: 80rem;">
				<div class="card-header">Lorem Ipsum </div>
				<div class="card-body">
					<h5 class="card-title">title</h5>
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				</div>
			</div>
			
			<div class="card text-white bg-dark mb-3" style="max-width: 80rem;">
				<div class="card-header">Lorem Ipsum </div>
				<div class="card-body">
					<h5 class="card-title">title</h5>
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				</div>
			</div>

			<div class="card text-white bg-dark mb-3" style="max-width: 80rem;">
				<div class="card-header">Lorem Ipsum </div>
				<div class="card-body">
					<h5 class="card-title">title</h5>
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				</div>
			</div>
			
		</div>
	</div>
	<div class="col-md-2 column">
	</div>
	
</div>
</div>
<div class="footer">
<p class="footer-content">
	&#169; Gichimu mwai 2019 |
	<a href="https://github.com/gichimux/">github</a> |
	 |
	
</div>

<div class="btn-group-vertical floatButton">
	<button id="goTop" class="btn btn-default" title="go to the top" type="button">
		<span class="glyphicon glyphicon-arrow-up"></span>
	</button>
	<button id="refresh" class="btn btn-default" title="refresh" type="button">
		<span class="glyphicon glyphicon-refresh"></span>
	</button>
	<button id="goBottom" class="btn btn-default" title="go to the bottom" type="button">
		<span class="glyphicon glyphicon-arrow-down"></span>
	</button>
</div>

    {% block scripts %}
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/floatButton.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    {{ moment.include_moment() }}
    {{ moment.include_jquery() }}
    {% endblock %}
  </body>
</html>